/* Table styles */
table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    /* Rounded corners for the table */
    overflow: hidden;
    /* Ensures the border-radius is respected */
}

/* Table header styles */
table th {
    background-color: #858585;
    /* Light gray for light mode */
    border-bottom: 1px solid #cccccc;
}

/* Table body styles */
table td {
    border: 1px solid #cccccc;
}